* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: grey;
    background-image: url("\\imgs\\xkWsLGFb5BcHoERUDMtZ9b.jpg");
    color: white;
}

#loginMainDiv {
    position: relative;
    height: 650px;
    width: 520px;
    background-image: radial-gradient(closest-side at 50% 50%, #0c2e8a8a, #36373ad9);
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid #707070;
    box-shadow: 0 20px 32px 0 rgba(0, 45, 243, 0.2), 0 23px 50px 0 rgba(255, 255, 255, 0.4);
}

#lLogin {
    width: 90%;
    height: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#lLogin h2 {
    display: flex;
    justify-content: center;
}

#h2 {
    margin-top: 25px;
}

#lFields {
    display: flex;
    flex-direction: column;
    padding: 4px;
    width: 80%;
    height: 40%;
    justify-content: space-between;
    align-items: center;
}

#lFields input {
    width: 90%;
    height: 25%;
    margin-top: auto;
}

#passField {
    width: 90%;
    height: 35%;
    margin-top: auto;
}

#passField input {
    height: 70%;
    width: 100%;
}

#passField a {
    color: inherit;
    text-decoration: none;
}

#passField p {
    font-size: small;
}

#lLoginButtons {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#lLoginButtons button {
    height: 45px;
    width: 130px;
    margin: 0 35px;
    border-radius: 5px;
    background-color: #747577;
    border: 1px solid black;
    color: white;
    font-size: 1.2em;
}

#lSocials {
    width: 90%;
    height: 40%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

#lSocials p {
    font-size: 1.2em;
}

#lSocials a {
    text-decoration: none;
    color: white;
}

#socialImgs img{
    width: 64px;
    height: 64px;
    margin: 0 20px;
    background-color: none;
    border-radius: 10px;
    margin-top: -30px;
}

.hoverButton {
    transition: 0.25s ease;
}

.hoverButton:hover {
    transform: scale(1.1,1.1);
}

#oops {
    transition: 0.25s ease;
}

#oops:hover {
    text-decoration: underline;
    cursor: default;
}

#bMainDiv {
    display: flex;
    background-color: rgba(0, 0, 0, 0.705);
    height: 300px;
    width: 550px;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}